<form action='/charge' method='POST' id='checkout-form'>
    <input type='hidden' th:value='${amount}' name='amount' />
    <label>Price:<span th:text='${amount/100}' /></label>
    <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
    <script
            src='https://checkout.stripe.com/checkout.js'
            class='stripe-button'
            th:attr='data-key=${stripePublicKey},
         data-amount=${amount},
         data-currency=${currency}'
            data-name='CareHub Health Insurance'
            data-description='Payment checkout'
            data-image
                    ='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4uf6VQ3uqDeo301lMueIBuagbMFdMgz7EwMYQbQG89Q&s'
            data-locale='auto'
            data-zip-code='false'>
    </script>
</form>